header, article, aside, nav {
    border: solid 1px black;
    padding: 5px;
}

main {
    display: grid;
    grid-template-areas:
    "h h"
    "n n"
    "a as"
    "f f";
    width: 80%;
    margin: auto;
    background-color: aliceblue;
}

header {
    grid-area: h;
    text-align: center;
}

nav {
    grid-area: n;
}

article {
    text-align: center;
    grid-area: a;
    display: grid;
    grid-template-areas: "x c"
                         "x f";
    grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"] {
    color: white;
    background-color: blue;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px blue;
    grid-area: s;
}

aside {
    grid-area: as;
    display: grid;
    grid-template-areas: "x c"
                         "x f";
    grid-template-columns: 1fr 1fr 1fr;
}

article>h2 {
    grid-area: c;
}

aside>h2 {
    grid-area: c;
}

form {
    grid-area: f;
}

form>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    text-align: right;
}

footer {
    grid-area: f;
}

body {
    background: url(kepek/hatter.jpg);
}
